<th:block xmlns:th="http://www.thymeleaf.org">
  <section class="who_section layout_padding" style="margin-top: 7%;margin-bottom: 2%">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <img th:src="@{/images/who-img.jpg}" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                За што служи?
              </h2>
            </div>
            <p>
              Апликацијата е интерактивен водич кој овозможува корисниците да лесно пронајдат и
              истражуваат различни културни и историски објекти и локации во Македонија.
              Корисниците можат да пребаруваат објекти според категорија и име, и да прегледаат
              детални информации за секој објект. Со можност за додавање на нови културни
              објекти, оценување и оставање на коментари, апликацијата креира заедничка
              заедница за љубителите на културното и историското наследство на Македонија.
            </p>
<!--            <div>-->
<!--              <a href="">-->
<!--                Прочитај повеќе-->
<!--              </a>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </section>
</th:block>