<section class=" slider_section position-relative">
  <div class="container">
      <div class="row">
        <div class="col">
          <div class="detail-box">
            <div>
              <h2>
                - добредојдовте -

              </h2>
              <h1>
                културно-историско наследство на македонија
              </h1>
              <p>
                Целото културно-историско наследство на Македонија на едно место, со еден клик!
              </p>
              <div class="">
                <a th:href="@{/location/search}">
                  Search
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>