<th:block xmlns:th="http://www.thymeleaf.org">
  <section class="who_section layout_padding">
    <div class="container">
      <form id="form2" th:method="POST" th:action="@{/location/search}">
        <input type="text" id="input" placeholder="Search by keyword..." name="nameKeyword">
        <select name="categoryName">
          <option th:each="category : ${categories}" th:text="${category.name()}" th:value="${category.name()}"></option>
        </select>
        <button style="margin-left: 1%" id="searchByCategory" type="submit">Search</button>
      </form>
      <div class="container" style="max-height: 300px; overflow: auto;">
        <div id="locationResults" th:if="${hasBeenSearched}">
          <div th:each="location : ${resultLocations}" class="location-row" th:onclick="'window.location.href=\'/location/' + ${location.id}\'">
            <div class="location-info">
              <div th:text="${location.name}"></div>
              <div th:text="${location.nameEN}"></div>
              <div th:text="${location.categoryId}"></div>
            </div>
            <a th:href="'/location/' + ${location.id}" class="location-link">View Details</a>
          </div>
          <div th:if="${#lists.isEmpty(resultLocations)}">
            <p class="location-info not-found">No locations found.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</th:block>